* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

/* Menu principal */
.text-logo {
  position: absolute;
  width: 272px;
  height: 48px;
  left: 221px;
  top: 45px;

  font-family: "Pecita";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  color: #ffffff;
}
.menu {
  position: absolute;
  width: 970px;
  height: 78px;
  left: 30px;
  top: 32px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 1.35px;
  text-transform: uppercase;
}

.logo {
  position: absolute;
  width: 67px;
  height: 78px;
  left: 135px;
  top: 32px;
}

nav {
  height: 80px;
  width: 100%;
}

nav ul {
  float: right;
  margin-right: 0.5px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: #51504c;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

.btn-cadesc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;

  position: absolute;
  width: 246px;
  height: 40px;
  left: 1020px;
  top: 52px;

  background: #2bafd9;
  border-radius: 10px;
  border-color: transparent;

  /* P - Bold desktop */

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

a.active,
a:hover {
  background: #2bafd9;
  transition: 0.5s;
}

/* Background menu principal */
.men {
  position: absolute left;
  width: 1440px;
  height: 894px;
  left: 0px;
  top: 0px;
  background: linear-gradient(180deg, #f9a826 0%, rgba(255, 255, 255, 0) 20.31%),
    linear-gradient(
      180deg,
      rgba(252, 172, 50, 0.6) 0%,
      rgba(255, 255, 255, 0) 25.52%
    ),
    linear-gradient(
      89.91deg,
      rgba(81, 80, 76, 0.5) 25.08%,
      rgba(128, 126, 121, 0) 56.43%
    ),
    url(-7I5Z7zPXGY.png);
}

/* Texto da imagem inicial */
.doe-mat h1 {
  position: absolute;
  width: 741px;
  height: 60px;
  left: 135px;
  top: 375px;

  /* H1 - Regular */

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 68px;
  line-height: 80px;
  letter-spacing: -1.5px;

  /* Light 0 */

  color: #f2f1ed;
}

.doe-mat h2 {
  /* Ajude crianças de todo país a terem um futuro melhor */

  position: absolute;
  width: 614px;
  height: 41px;
  left: 135px;
  top: 473px;

  /* Corpo - Regular */

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  /* or 117% */

  letter-spacing: 0.444444px;

  /* Light -1 */

  color: #ffffff;
}

.btn-doar {
  /* Button/cta/desktop */

  /* Auto Layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;

  position: absolute;
  width: 270px;
  height: 56px;
  left: 135px;
  top: 542px;

  background: #de8a0d;
  border-radius: 10px;
  border-color: transparent;
  color: #ffffff;
}

.btn-pmat {
  /* Button/tipo02/desktop */

  /* Auto Layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;

  position: absolute;
  width: 270px;
  height: 56px;
  left: 423px;
  top: 542px;

  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  background: transparent;
  color: #ffffff;
}

.point-dist {
  position: absolute;
  width: 100%;
  height: 115px;
  left: 0px;
  top: 838px;

  /* Secondary -1 */

  background: #fcac32;
}
.point-dist p {
  /* Encontre um ponto de distribuição */

  position: absolute;
  width: 430px;
  height: 37px;
  left: 61px;

  /* H4 - Regular */

  font-family: "roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 380%;
  /* or 42px */

  /* Light -1 */

  color: #ffffff;
}

.point-dist .cyt1 {
  width: 223px;
  height: 50px;
  position: absolute;
  left: 530px;
  right: 0%;
  top: 33px;
  bottom: 0%;

  background: #f9f6f6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.point-dist .cyt2 {
  width: 223px;
  height: 50px;
  position: absolute;
  left: 770px;
  right: 0%;
  top: 33px;
  bottom: 0%;

  background: #f9f6f6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.point-dist .button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;

  position: absolute;
  width: 223px;
  height: 50px;
  left: 1010px;
  top: 33px;

  background: #2bafd9;
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.como-fun {
  /* Como funciona */

  position: absolute;
  width: 435px;
  height: 42px;
  left: 519px;
  top: 1159px;

  /* H3 -Bold */

  font-family: "roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;

  /* Dark 0 */

  color: #51504c;
}

.img-esq {
  position: absolute;
  left: 16.32%;
  right: 65.1%;
  top: 31.85%;
  bottom: 61.16%;
}
.fundo1 {
  /* Rectangle */
  width: 88.8px;
  height: 97px;
  position: absolute;
  left: 10px;
  top: 1050px;
  bottom: 64.47%;

  /* Secondary -1 */

  background: #fcac32;
  box-shadow: 0px 32px 54px rgba(37, 138, 255, 0.224553);
  border-radius: 10px;
}

.home1 {
  width: 58px;
  height: 60px;

  position: absolute;
  left: 25px;
  top: 1063px;
  bottom: 64.47%;
}

.text-1 {
  /* Escolha um ponto de distribuição */

  position: absolute;
  height: 56px;
  left: 10px;
  top: 1160px;

  /* Corpo - Regular */

  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  /* or 117% */

  letter-spacing: 0.444444px;

  color: #000000;
}

.img-esq .text-2 {
  position: absolute;
  left: 10px;
  top: 1220px;
  bottom: 9.34%;

  /* H5 - Regular */

  font-family: "roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  /* or 24px */

  /* Primary +1 */

  color: #1396bf;
}

.arrow1 {
  position: absolute;
  width: 228.21px;
  height: 75px;
  left: 130px;
  top: 1080px;
}

.fundo2 {
  position: absolute;
  left: 610px;
  top: 1340px;
  bottom: 64.47%;
  box-shadow: rgba(37, 138, 255, 0.224553);
}

.laps1 {
  position: absolute;
  width: 88.8px;
  height: 60px;
  left: 610px;
  top: 1360px;
}

.text-3 {
  position: absolute;
  height: 56px;
  left: 610px;
  top: 1445px;

  /* Corpo - Regular */

  font-family: "roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  /* or 117% */

  letter-spacing: 0.444444px;

  color: #000000;
}

.text-4 {
  position: absolute;
  width: 256px;
  height: 103px;
  left: 610px;
  top: 1505px;

  /* H5 - Regular */

  font-family: "roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  /* or 24px */

  /* Primary +1 */

  color: #1396bf;
}

.arrow2 {
  position: absolute;
  width: 287.47px;
  height: 173.35px;
  left: 710px;
  top: 1291px;
}

.fundo3 {
  position: absolute;
  left: 950px;
  top: 1370px;
  bottom: 51.84%;
}

.graduate {
  position: absolute;
  width: 58px;
  height: 60px;
  left: 1020px;
  top: 1410px;
}

.text-5 {
  position: absolute;
  height: 28px;
  left: 1005px;
  top: 1499px;

  /* Corpo - Regular */

  font-family: "roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 117% */

  letter-spacing: 0.444444px;

  color: #000000;
}

.text-6 {
  /* Leve o material até a escolha que escolheu e você fará um aluno muito mais feliz! */

  position: absolute;
  left: 1005px;
  top: 1530px;

  /* H5 - Regular */

  font-family: "roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  text-align: justify;
  /* or 24px */

  /* Primary +1 */

  color: #1396bf;
}
