* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  
}

body {
  font-family: roboto;
  position: relative;
  width: 1440px;
  height: 3903px;
  overflow-y: scroll;

  background: #FFFFFF;
}

.body-cadastro{
  position: relative;
width: 1440px;
height: 1431px;

background: #FFFFFF;
}

/* Menu principal */
.text-logo {
  position: absolute;
  width: 272px;
  height: 48px;
  left: 221px;
  top: 45px;

  font-family: "Pecita";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  color: #ffffff;
}
.text-logo-branco {
  position: absolute;
width: 272px;
height: 48px;
left: 221px;
top: 45px;

font-family: Pecita;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 49px;
text-align: center;


color: #DE8A0D;
}
.subtitulo{
position: absolute;
width: 372px;
height: 176px;
left: 202px;
top: 303px;
}

.cadastro-aluno{
  position: absolute;
width: 151px;
height: 24px;
left: 943px;
top: 922px;

/* H6 - Regular */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

text-align: center;
}

.mochila{
  position: absolute;
width: 418px;
height: 313px;
left: 156px;
top: 537px;
}

.logo-form {
position: absolute;
width: 67px;
height: 78px;
left: 135px;
top: 32px;

background: url("/frontend/img/Logo.svg");
}

.corpo-form {
  position: absolute;
width: 1340px;
height: 789px;
left: 50px;
top: 227px;

border: 1px solid #CCCAC2;
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 20px;
} 

.body-box{
  position: absolute;
width: 1340px;
height: 789px;
left: 50px;
top: 227px;
}

.menu {
  position: absolute;
  width: 970px;
  height: 78px;
  left: 30px;
  top: 32px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 1.35px;
  text-transform: uppercase;
}

.logo {
  position: absolute;
  width: 67px;
  height: 78px;
  left: 135px;
  top: 32px;
}

nav {
  height: 80px;
  width: 100%;
}

nav ul {
  float: right;
  margin-right: 0.5px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: #51504c;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

.btn-cadesc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;

  position: absolute;
  width: 246px;
  height: 40px;
  left: 1020px;
  top: 52px;

  background: #2bafd9;
  border-radius: 10px;
  border-color: transparent;

  /* P - Bold desktop */

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

a.active,
a:hover {
  background: #2bafd9;
  transition: 0.5s;
}

/* Background menu principal */
.men {
  position: absolute left;
  width: 1440px;
  height: 894px;
  left: 0px;
  top: 0px;
  background: linear-gradient(180deg, #F9A826 0%, rgba(255, 255, 255, 0) 20.31%),
  linear-gradient(180deg, rgba(252, 172, 50, 0.6) 0%, rgba(255, 255, 255, 0) 25.52%),
  linear-gradient(89.91deg, rgba(81, 80, 76, 0.5) 25.08%, rgba(128, 126, 121, 0) 56.43%), 
  url(-7I5Z7zPXGY.png);
}

/* Texto da imagem inicial */
.doe-mat h1 {
  position: absolute;
  width: 741px;
  height: 60px;
  left: 135px;
  top: 375px;

  /* H1 - Regular */

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 68px;
  line-height: 80px;
  letter-spacing: -1.5px;

  /* Light 0 */

  color: #f2f1ed;
}

.doe-mat h2 {
  /* Ajude crianças de todo país a terem um futuro melhor */

  position: absolute;
  width: 614px;
  height: 41px;
  left: 135px;
  top: 473px;

  /* Corpo - Regular */

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  /* or 117% */

  letter-spacing: 0.444444px;

  /* Light -1 */

  color: #ffffff;
}

.btn-doar {
  /* Button/cta/desktop */

  /* Auto Layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;

  position: absolute;
  width: 270px;
  height: 56px;
  left: 135px;
  top: 542px;

  background: #de8a0d;
  border-radius: 10px;
  border-color: transparent;
  color: #ffffff;
}

.btn-pmat {
  /* Button/tipo02/desktop */

  /* Auto Layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;

  position: absolute;
  width: 270px;
  height: 56px;
  left: 423px;
  top: 542px;

  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  background: transparent;
  color: #ffffff;
}

.point-dist {
  position: absolute;
  width: 100%;
  height: 115px;
  left: 0px;
  top: 838px;

  /* Secondary -1 */

  background: #fcac32;
}
.point-dist p {
  /* Encontre um ponto de distribuição */

  position: absolute;
  width: 430px;
  height: 37px;
  left: 61px;

  /* H4 - Regular */

  font-family: "roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 380%;
  /* or 42px */

  /* Light -1 */

  color: #ffffff;
}

.point-dist .cyt1 {
  width: 223px;
  height: 50px;
  position: absolute;
  left: 530px;
  right: 0%;
  top: 33px;
  bottom: 0%;

  background: #f9f6f6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.point-dist .cyt2 {
  width: 223px;
  height: 50px;
  position: absolute;
  left: 770px;
  right: 0%;
  top: 33px;
  bottom: 0%;

  background: #f9f6f6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.point-dist .button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;

  position: absolute;
  width: 223px;
  height: 50px;
  left: 1010px;
  top: 33px;

  background: #2bafd9;
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;
  border-color: transparent;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.direitos {
position: absolute;
left: 35.07%;
right: 32.5%;
top: 96.47%;
bottom: 0.71%;
z-index: -1;

/* Legendas - Regular */


font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 16px;
/* or 89% */

text-align: center;
letter-spacing: 0.4px;

color: #FFFFFF;

mix-blend-mode: normal;
}

.foot-box{
position: absolute;
width: 1440px;
height: 225px;
left: 0px;
top: 1476px;

background: #51504C;
}
